# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/chapter2/.vs/chapter2/v15
/chapter2/chapter2/Debug
*.vcxproj
*.filters
*.user
/chapter2/Debug
*.sln
/chapter2/enc_temp_folder
