# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/chapter2/.vs/chapter2/v15
/chapter2/chapter2/Debug
*.vcxproj
*.filters
*.user
/chapter2/Debug
*.sln
/chapter2/enc_temp_folder
/chapter2/.vs/cpp-course/v15/ipch/AutoPCH/c10f490bb2dc9240
/chapter2/.vs/cpp-course/v15
/cpp-course/Debug
/cpp-course/chapter2/Debug
/cpp-course/.vs/cpp-course/v15
/cpp-course/chapter3/Debug/chapter3.tlog
/cpp-course/chapter3/Debug
/cpp-course/chapter4/Debug
/cpp-course/enc_temp_folder
/cpp-course/chapter5/Debug
/cpp-course/chapter6/Debug/chapter6.tlog
/cpp-course/chapter6/Debug
